body{
				background-color: aqua;
				color:grey;
				font-family: Comic Sans MS
			}
			table{
				border:4px solid red;
				border-collapse:collapse;
				text-align:center;
				margin-left:auto;
				margin-right:auto;
			}
			th,td{
				border:1px dotted darkblue;
			}
			th{
				font-size:24px;
				background-color:darkred;
			}
			td{
				font-family: Consolas;
				background-color:pink;
			}
			a{
				text-decoration:none;
			}
			a:hover{
				color:darkgreen;
			}
			a:visited{
				text-decoration:none;
				color:yellow;
			}
			
			#rounded-img{
				border-radius:100px;
				width:400px;
				height:200px;
				display:block;
				margin-left:auto;
				margin-right:auto;
			}
			#text-poza{
				text-align:center;
				font-size:20px;
				font-weight:bold;
			}
			
			.lista-ord{
				font-style: oblique;
				margin-left:10%;
				list-style-type: upper-roman;
			}
			.date{
				text-align:center;
				color:darkblue;
				font-family: Verdana;
				font-weight:444;
			}
			.lista-neord{
				margin-left: 10%;
				font-variant:small-caps;
			}